{% extends 'fpartials/base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'webpage/css/box.css' %}" rel="stylesheet">


<style>
  .service-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensures the container takes the full height of the parent */
  }

  .padding-4 {
    flex-grow: 1;
    /* Allows the content to expand and take the available space */
  }

  .fixed-height-image {
    height: 300px;
    /* Set the desired fixed height */
    object-fit: cover;
    /* Preserve aspect ratio and cover the container */
    width: 100%;
    /* Ensure the image takes up the full width of the container */
  }

  .testimonial-item {
    display: flex;
    flex-direction: column;
    height: 200px;
    /* Set a fixed height for all divs */
  }

  .testimonial-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* Hide content overflow */
  }

  /* Optionally, add styles for better visual appearance */
  .testimonial-item {

    margin: 10px;
    border-radius: 8px;
  }

  .testimonial-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .my-card {
    position: absolute;
    left: 35%;
    top: -20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .my-card:hover {
    color: white !important;
    background-color: #ffc107;
  }

  img.framed {
    box-shadow:
      -50px -50px 0 -40px #fed86b,
      50px 50px 0 -40px #fed86b;
  }

  img.schoolframed {
    --s: 10px;
    /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
  }
</style>
{% endblock extra_css %}
{% block content %}

<!-- Carousel Start -->
<div class="container-xxl mb-5">
  <div class="row py-4">
    <div class="col-md-8">
      <div class="owl-carousel header-carousel position-relative ">

        {% for banner in bannerList %}

        <div class="owl-carousel-item position-relative">
          <img class="img-fluid rounded-3" src='{{banner.banner_image.url}}' alt="" />
          <div class="position-absolute top-0  rounded-3 start-0 w-100 h-100 d-flex align-items-center"
            style="background: rgba(24, 29, 56, 0.1)">
            <div class="container">
              <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
                  {% if banner.sub_heading %}
                  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">
                    {{banner.sub_heading}}
                  </h5>
                  {% endif %}
                  {% if banner.display_heading %}
                  <h1 class="display-4 text-white animated slideInDown">
                    {{banner.display_heading}}
                  </h1>
                  {% endif %}
                  {% if banner.banner_text %}
                  <p class="fs-5 text-white mb-4 pb-2">
                    {{banner.banner_text}}
                  </p>
                  {% endif %}
                  
                </div>
              </div>
            </div>
          </div>
        </div>


        {% endfor %}

      </div>

    </div>
    <div class="col-md-4 pt-5 pt-md-0">

      <div class="vendor-info">
        <p class="vendor-info-author-title  bg-primary text-white p-1">Education Corner</p>
        <div class="vendor-info-main">


          <div>
            <div class="row g-2  pt-4 pb-1">
              <div class="col-md-6">
                <a href="{% url 'f_student_attendance' %}">
                  <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-secondary p-3 my-card"><i
                        class="fas fs-4 fa-fingerprint"></i></div>
                    <div class="text-center mt-3 pt-3">
                      <h5>Attendence</h5>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="{% url 'fclass_routine' %}">
                  <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-secondary p-3 my-card"><i class="far fs-4 fa-clock"></i>
                    </div>
                    <div class=" text-center mt-3 pt-3">
                      <h5>Class Routine</h5>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="">
                  <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-secondary p-3 my-card"><i
                        class="far fs-4 fa-chart-bar"></i></div>
                    <div class="text-danger text-center mt-3 pt-3">
                      <h5>Exam Result</h5>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="">
                  <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-secondary p-3 my-card"><i
                        class="far fs-4 fa-money-bill-alt"></i></div>
                    <div class="text-warning text-center mt-3 pt-3">
                      <h5>Fees Info</h5>
                    </div>

                  </div>
              </div>
              </a>
            </div>
          </div>



        </div>
      </div>
      <div class="vendor-info">
        <p class="vendor-info-author-title  bg-primary text-white p-1">Follow us on Facebook</p>
        <div class="vendor-info-main">
          {% if page_name %}
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F{{page_name}}&tabs=timeline&width=500&height=150&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="450" height="135" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          {% endif %}
        </div>
      </div>

    </div>

  </div>

</div>
<!-- Carousel End -->

<!-- Service Start -->
<div class="container-xxl mb-5 pt-0 mt-0">
  <div class="">
    <div class="row g-4">

      {% for service in serviceList %}

      <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <img height="50px" src="{{service.icon.url}}" alt="" />
            <h5 class="mb-3">{{service.title}}</h5>
            <p>{{service.service_text}}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>    

<!-- Service End -->

<div class="container-xxl pb-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Notice
      </h6>
      <h1 class="mb-5">School Notice</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">

      {% for notice in noticeList %}
      <div class="testimonial-item text-center">
        <h5 class="mb-0">{{ notice.notice_title }}</h5>
        <p class="text-info mb-0">Expire: {{ notice.expire_date }} </p>
        <a class="text-info pb-1" style="text-decoration: none;" href="/media/{{ notice.file_attached }}"
          download>Download</a>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            {{ notice.notice_description }}
          </p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

  <!-- About Start -->

  <div class="container-xxl  py-5">

    <div class="row  g-5">
      <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
        <div class="position-relative h-75 ">
          {% if msg_from_head.img %}
          <img class="img-fluid schoolframed position-absolute w-100 h-100" src="{{msg_from_head.img.url}}" alt=""
            style="object-fit: cover" />
            {% else %}
            <img class="img-fluid framed position-absolute w-100 h-100" src="{% static 'webpage/mockup/avatar.png' %}" alt=""
              style="object-fit: cover" />
            {% endif %}

        </div>
        <div class=" d-flex justify-content-center pt-4 px-1">
          <a class="btn btn-md-square rounded-1 btn-primary mx-1" href=""><i class="fab fs-4 fa-facebook-f"></i></a>
          <a class="btn btn-md-square rounded-1 btn-primary mx-1" href=""><i class="fab fs-4 fa-twitter"></i></a>
          <a class="btn btn-md-square rounded-1 btn-primary mx-1" href=""><i class="fab fs-4 fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">
          {{msg_from_head.heading}}
        </h6>
        <h1 class="mb-4">{{msg_from_head.sub_heading}}</h1>
        <p>
          {{msg_from_head.text}}
        </p>
        {% comment %} <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> {% endcomment %}
      </div>
    </div>

  </div>
  <!-- About End -->

  <!-- Categories Start -->
  <div class="container-xxl py-5 category">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title bg-white text-center text-primary px-3">
          Galleries
        </h6>
        <h1 class="mb-5">School Galleries </h1>
      </div>
      <div class="row g-3">
        {% for gallery in galleryList %}
        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
          <a class="position-relative d-block overflow-hidden" href="">
            <img class="img-fluid fixed-height-image" src="{{ gallery.galary_image.url }}" alt="" />
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px">
              <h5 class="m-0">{{ gallery.title }}</h5>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <!-- Testimonial Start -->
  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="text-center">
        <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
        <h1 class="mb-5">Read Testimonial</h1>
      </div>
      <div class="owl-carousel testimonial-carousel position-relative">

        {% for testimonial in testimonialList %}


        <div class="testimonial-item text-center">
          <img class="border rounded-circle p-2 mx-auto mb-3" src="{{testimonial.testimonial_image.url}}"
            style="width: 80px; height: 80px;">
          <h5 class="mb-0">{{testimonial.name}}</h5>
          <p>{{testimonial.profession}}</p>
          <div class="testimonial-text bg-light text-center p-4">
            <p class="mb-0">{{testimonial.text}}</p>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
  <!-- Testimonial End -->

 

  <!-- About Start -->
  <div class="container-xxl  py-5">

    <div class="row px-4 g-5">
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
        <div class="position-relative h-100 ">
          {% if school_history.img %}
          <img class="img-fluid framed position-absolute w-100 h-100" src="{{school_history.img.url}}" alt=""
            style="object-fit: cover" />
          {% else %}
          <img class="img-fluid framed position-absolute w-100 h-100" src="{% static 'webpage/mockup/school.png' %}" alt=""
            style="object-fit: cover" />
          {% endif %}

        </div>

      </div>
      <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">
          {{school_history.heading}}
        </h6>
        <h1 class="mb-4">{{school_history.sub_heading}}</h1>
        <p> {{school_history.text}} </p>
       
      </div>
    </div>

  </div>
  <!-- About End -->

  <!-- Categories Start -->
  <div class="container-xxl  py-5 category">

    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <h4 style="background-color: #fed86b; color: #fff;" class=" p-2 mb-3">জাতীয় শুদ্ধাচার কৌশল</h4>
            <div class="d-flex flex-column ">

              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>কর্ম পরিকল্পনা/
                আদেশ / বিজ্ঞপ্তি</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>ফোকাল পয়েন্ট
                কর্মকর্তা ও বিকল্প কর্মকর্তা</a>
              <a class="btn  text-start " href=""><i
                  class="fas pe-2 text-primary fa-caret-right"></i>ত্রৈমাসিক/ষাণ্মাসিক পরিবীক্ষণ/মূল্যায়ন
                প্রতিবেদন</a>
              <a class="btn  text-start " href=""><i
                  class="fas pe-2 text-primary fa-caret-right"></i>আইন/বিধি/নীতিমালা/পরিপত্র/নির্দেশিকা/প্রজ্ঞাপন</a>

            </div>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <h4 style="background-color: #fed86b; color: #fff;" class="p-2 mb-3">বার্ষিক কর্মসম্পাদন চুক্তি</h4>
            <div class="d-flex flex-column ">

              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>এপিএ
                নির্দেশিকা/পরিপত্র/এপিএ টিম</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>চুক্তিসমূহ</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>পরিবীক্ষণ ও
                মূল্যায়ন প্রতিবেদন</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>এপিএএমএস
                সফটওয়্যার লিংক</a>

            </div>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <h4 style="background-color: #fed86b; color: #fff;" class="p-2 mb-3">অভিযোগ প্রতিকার ব্যবস্থাপনা</h4>
            <div class="d-flex flex-column ">

              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>অনিক ও আপিল
                কর্মকর্তা</a>
              <a class="btn  text-start " href=""><i
                  class="fas pe-2 text-primary fa-caret-right"></i>মাসিক/ত্রৈমাসিক/বার্ষিক/পরিবীক্ষণ/মূল্যায়ন
                প্রতিবেদন</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>অভিযোগ দাখিল
                (অনলাইন আবেদন)</a>
              <a class="btn  text-start " href=""><i
                  class="fas pe-2 text-primary fa-caret-right"></i>আইন/বিধি/নীতিমালা/পরিপত্র/নির্দেশিকা/প্রজ্ঞাপন</a>

            </div>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <h4 style="background-color: #fed86b; color: #fff;" class="p-2 mb-3">তথ্য অধিকার</h4>
            <div class="d-flex flex-column ">

              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>দায়িত্বপ্রাপ্ত
                কর্মকর্তা ও আপিল কর্তৃপক্ষ</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>আবেদন ও আপিল
                ফরম</a>
              <a class="btn  text-start " href=""><i class="fas pe-2 text-primary fa-caret-right"></i>স্বপ্রণোদিতভাবে
                প্রকাশযোগ্য তথ্যসমূহ</a>
              <a class="btn  text-start " href=""><i
                  class="fas pe-2 text-primary fa-caret-right"></i>আইন/বিধি/নীতিমালা/পরিপত্র/নির্দেশিকা/প্রজ্ঞাপন</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
        <a class="position-relative d-block h-100 overflow-hidden" href="">
          <img class="img-fluid position-absolute w-100 h-100" src="{% static 'assets/img/test/srquiz.jpg' %}" alt=""
            style="object-fit: cover;">

        </a>
      </div>
    </div>

  </div>
  <!-- Categories Start -->


  {% endblock content %}
  {% block extra_javascript %}

  {% endblock extra_javascript%}