#admit-card {
  width: 100%;
  min-width: 750px;
  margin: auto;
  position: relative;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
}

#admit-card .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

/* Left side - Logo styling */
.logo img {
  width: 60px; /* Adjust as needed */
  height: auto;
}

/* Right side - School name and exam name */
.text {
  margin-left: 20px; /* Space between logo and text */
}

.text h1 {
  font-size: 24px;
  margin: 0;
}

.text h2 {
  font-size: 18px;
  margin: 0;
  color: #555; /* Optional: style exam name differently */
}

.student-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.student-details .item {
  display: flex;
  align-items: center;
}

.student-details .left .item .title {
  min-width: 180px;
  padding-right: 5px;
  font-weight: 600;
}

.student-details .item h6 {
  margin-bottom: 5px;
  color: #797676;
}

.student-details .item .date {
  margin-left: 10px;
}

.student-details .right .item .title {
  min-width: 135px;
  text-align: end;
  padding-right: 5px;
  font-weight: 600;
}

.finale {
  display: flex;
  padding: 10px;
}

.finale .subjects {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
}

.finale .subjects .item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.finale .subjects .item .code {
  min-width: 40px;
}

.finale .subjects .item h6 {
  color: #797676;
  margin-bottom: 6px;
}

.finale .sign {
  min-width: 240px;
  padding: 10px;
}

.subject-title {
  color: #797676;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 10px;
}

.finale .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.finale .sign h6 {
  margin-bottom: 2px;
  color: #797676;
}

.finale .sign .principal {
  font-weight: 600;
}

.directions {
  border-top: 1px solid black;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  padding: 5px;
  color: #555;
}

.directions h6 {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #555;
  text-decoration: underline;
}

.directions div {
  flex: 1;
  line-height: 18px;
  margin-top: 5px;
}
