body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
}
.receipents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-all-button {
  display: flex;
  gap: 5px;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #e7e7ff;
}

tbody {
  display: block;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 4px 0px;
  text-align: center;
}

td {
  font-size: 15px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
