.custom-scroll {
  overflow-x: auto;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
}

#employeeProgress {
  min-width: 920px;
  margin-bottom: 0px;
  padding: 10px 20px;
  white-space: nowrap;
}

.search-box {
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

#search-input {
  width: 240px;
}

.employee-container {
  display: flex;
  align-items: center;
  position: relative;
}

.employee-container h4 {
  font-size: 14px;
  width: 160px;
  margin: 30px 20px 0 0;
}

.employee-container span {
  font-size: 12px;
}

.duration-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}

.progress-segment {
  position: relative;
  padding-top: 30px;
}

@media screen and (max-width: 800px) {
  .employee-container {
    display: block;
  }
  .employee-container .infoContainer {
    display: flex;
    justify-content: space-between;
  }
  .employee-container .infoContainer h4,
  .employee-container .infoContainer span {
    margin: 0;
    margin-top: 30px;
    margin-bottom: -15px;
  }

  .progress-segment {
    padding-top: 25px;
  }
  .duration-bar {
    height: 40px;
  }
}

.progress-segment:before {
  content: attr(data-time);
  padding: 1px 6px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%) scale(0.4) translateY(80%);
  opacity: 0;
  background-color: white;
  border: 1px solid #5e7185;
  border-radius: 4px;
  transition: all 0.5s;
  color: #5e7185;
  font-size: 12px;
  margin-bottom: 5px;
}

.progress-segment:hover:before {
  opacity: 1;
  transform: scale(1) translateX(-50%) translateY(-20%);
}

.overtime {
  background-color: yellow;
  color: white;
  margin-top: 25px;
  margin-bottom: -8px;
  width: 15px;
  text-align: center;
  position: relative;
}

.overtime:before {
  content: attr(data-time);
  padding: 1px 6px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%) scale(0.4) translateY(80%);
  opacity: 0;
  background-color: #d9e61f;
  border: 1px solid #5e7185;
  border-radius: 4px;
  transition: all 0.5s;
  color: #5e7185;
  font-size: 12px;
  margin-bottom: 5px;
}

.overtime:hover:before {
  opacity: 1;
  transform: scale(1) translateX(-85%) translateY(-20%);
}

.present {
  background-color: rgb(43, 219, 70);
}
.absent {
  background-color: rgba(255, 0, 0, 0.824);
}

@media print {
  @page {
    size: A4 landscape;
    margin: 25px;
  }

  /* background color may not be visible if background graphics is turned off in print settings in browser. */
}

.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(48, 222, 74);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 219, 70);
}
