
.vendor-info {
  margin-bottom: 20px;
  position: relative;
}
.vendor-info-author-title {
  margin: 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  left: 20px;
  line-height: 20px;
  padding: 0 7px;
  position: absolute;
  top: -10px;
  z-index: 1;
}
.vendor-info-main {
  align-items: center;
  background: #fff;
  border: 1px solid #d1d8db;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
}
.vendor-info-avatar {
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px #24323826;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  width: 50px;
}
@media (max-width:719px) {
  .vendor-info-avatar {
  height: 50px;
  width: 50px;
}
}.vendor-rating-count {
  color: #546e7a;
  font-size: 14px;
  margin-left: 5px;
  margin-right: auto;
}
.vendor-info-general {
  flex-grow: 1;
  padding-right: 115px;
}
.vendor-info-general .rating {
  margin-top: 5px;
}
.vendor-info-general .product-rating-info {
  align-items: flex-end;
  justify-content: flex-start;
}
.vendor-info-name {
  color: #243238;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 10px;
  word-break: break-all;
}
.vendor-info-name:hover {
  color: #42a5f5;
}
.vendor-info-data-year {
  color: #546e7a;
  font-size: 14px;
  line-height: 20px;
}
.vendor-info-data {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.vendor-info-data-item {
  align-items: center;
  background: #e5f4fd;
  border-radius: 3px;
  color: #243238;
  display: inline-flex;
  flex-basis: calc(50% - 8px);
  font-size: 16px;
  height: 40px;
  justify-content: center;
  line-height: 20px;
  margin-right: 16px;
}
.vendor-info-data-item:nth-child(2n) {
  margin-right: 0;
}
.vendor-info-data-item:nth-child(-n+2) {
  margin-bottom: 15px;
}
.vendor-info-data-item strong {
  color: #1da650;
}
.vendor-info-data-item i {
  color: #546e7a;
  font-style: normal;
  margin-left: 5px;
}
.vendor-info-block-badge {
  align-items: center;
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-direction: column;
  padding: 8px 18px 10px;
  position: absolute;
  right: 20px;
  top: 0;
}
.vendor-info-block-badge .author-badge-image {
  background-size: cover!important;
  height: 28px;
  margin-bottom: 6px;
  margin-right: 0;
  width: 32px;
}

.vendor-info-block-badge .author-badge-name {
  color: #fff;
  font-size: 11px;
  line-height: 12px;
  max-width: 70px;
  text-align: center;
  text-transform: uppercase;
}
.vendor-info-block-badge:last-child {
  margin-bottom: 10px;
}
.vendor-info-block-badge-level1 {
  background: #2ac35e;
}
.vendor-info-block-badge-level2 {
  background: #fa6411;
}
.vendor-info-block-badge-level3 {
  background: #10c4ba;
}
.vendor-info-block-badge-level4 {
  background: #705bf1;
}
.vendor-info-block-badge-level5 {
  background: #153553;
}
.vendor-info-label-badge {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
}
