h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.upper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.evaluation-scale {
  border: 1px solid #e7e7ff;
  border-radius: 4px;
}
.evaluation-scale h5 {
  background-color: #e7e7ff;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.main-scale {
  padding: 2px 0 2px 4px;
}

.scale-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  line-height: 01px;
}

.scale-fields .icons i {
  font-size: 13px;
  line-height: 10px;
}

.scale-fields .value {
  display: flex;
  align-items: center;
  gap: 5px;
}
.scale-fields .value h6 {
  margin-left: 20px;
  font-size: 12px;
}

.scale-fields .value i {
  font-size: 10px;
  margin-right: 4px;
}

.scale-fields .value i.bx-checkbox-checked {
  font-size: 13px;
  margin-right: 2px;
}

.student-details p span {
  font-weight: 600;
  line-height: 26px;
}

.evaluation-table {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}
.evaluation-table,
.evaluation-table th,
.evaluation-table td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  padding: 3px 0;
}

.evaluation-table .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.evaluation-table .icons i {
  font-size: 30px;
}

.make-blue {
  color: #1489e3;
}

.comment-section {
  position: relative;
  margin-bottom: 65px;
}

.comment-section::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  width: calc(100% - 5rem);
  height: 1px;
  background: #ddd;
}

.comment-section p {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.second-line {
  position: absolute;
  top: 58px;
  right: 0;
  width: calc(100% - 5rem);
  border-bottom: 1px solid #ddd;
}

@media print {
  @page {
    size: A4;
    margin: 20px;
  }

  body {
    -webkit-print-color-adjust: exact;
    background-color: white;
  }
}
