.tabs {
  display: flex;
  flex-direction: column;
}

.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 600;
}

.tab-item {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out;
}

.tab-item.active {
  background-color: #fff;
  border-bottom: none;
}

.tab-content {
  display: flex;
  flex-direction: column;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
  margin: auto;
}

.form-element select {
  width: 100%;
}

.select-element {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select-element:focus {
  outline: none;
}

.single-select {
  width: calc(100% - 120px);
}

.double-select {
  width: calc(50% - 60px);
}

.submit-button {
  width: 120px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .tab-item {
    padding: 5px;
  }

  .form-container {
    flex-direction: column;
    width: 320px;
  }

  .single-select {
    width: 100%;
  }

  .double-select {
    width: 100%;
  }
}

.student-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.student-table th input {
  width: 100%;
  min-width: 65px;
  margin-top: 6px;
}

.buttons {
  display: flex;
  justify-content: right;
}

.buttons button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition-duration: 200ms;
}

.buttons button:hover {
  background-color: #0371e7;
}
