{% load static %} 
{% load template_tags %} 
{% with request.resolver_match.url_name as path_name %} 
{% block sidebar %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme logicunite_side_menu">
  <div class="app-brand demo">
    <a href="{% url 'dashboard' %}" class="app-brand-link pt-2 mx-auto">
      <img height="80px" src="{{institute.institute_logo.url}}" alt="">
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  

  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li
      class="menu-item {% if '/dashboard/' in request.path %}active{% endif %}"
    >
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboards">Dashboards</div>
      </a>
    </li> 

    <li
      class="menu-item {% if '/institute' in request.path %}active{% endif %}"
    >
      <a href="{% url 'institute' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-school"></i>
        <div data-i18n="Institute">Institute Profile</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Apps &amp; Pages</span>
    </li>

    <!-- Academic Events -->
    <li
      class="menu-item {% if '/academic_event/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-calendar"></i>
        <div data-i18n="Academic_Events">Academic Events</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/event/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'event' %}" class="menu-link">
            <div data-i18n="Events">Events</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/event_detail/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'event_detail' %}" class="menu-link">
            <div data-i18n="Event_List">Event List</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Settings -->

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/settings/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/basic_setup/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'basic_setup' %}" class="menu-link">
            <div data-i18n="Academic_Setup">Academic Setup</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_class_config/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_class_config' %}" class="menu-link">
            <div data-i18n="Class_Config">Class Config</div>
          </a>
        </li>
        {% comment %} <li
          class="menu-item {% if '/period_config/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'period_config' %}" class="menu-link">
            <div data-i18n="Period_Config">Period Config</div>
          </a>
        </li> {% endcomment %}
        <li
          class="menu-item {% if '/create_subject_assign/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'create_subject_assign' %}" class="menu-link">
            <div data-i18n="Subject Assign">Class Subject Assign</div>
          </a>
        </li>
        
        <li
          class="menu-item {% if '/list_subject_conf/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_subject_conf' %}" class="menu-link">
            <div data-i18n="Subject Config">Mark Config</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/list_mark_config/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_mark_config' %}" class="menu-link">
            <div data-i18n="list_mark_config">Mark divide</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/add_choosable_subject/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'add_choosable_subject' %}" class="menu-link">
            <div data-i18n="add_choosable_subject">Choosable Subject</div>
          </a>
        </li>
      </ul>
    </li>

    

    {% endif %}
    
    <!-- Routine -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/classroutine/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-hourglass"></i>
        <div data-i18n="Routine">Routine</div> 
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/list_routine/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_routine' %}" class="menu-link">
            <div data-i18n="Routine">Routine</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/search_class/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'search_class' %}" class="menu-link">
            <div data-i18n="Class_Routine">Class Routine</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/search_teacher/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'search_teacher' %}" class="menu-link">
            <div data-i18n="Teacher_Schedule">Teacher Schedule</div>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}

    {% if user|in_group:"student, parent" %}
        <li
        class="menu-item {% if '/search_class/' in request.path %}active{% endif %}"
      >
        <a href="{% url 'search_class' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-time-five"></i> 
          <div data-i18n="search_class">Class Routine</div>
        </a>
      </li> 
    {% endif %}
    {% if user|in_group:"teacher" %}
        <li
        class="menu-item {% if '/search_teacher/' in request.path %}active{% endif %}"
      >
        <a href="{% url 'search_teacher' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-time-five"></i> 
          <div data-i18n="search_teacher">Teacher Routine</div>
        </a>
      </li> 
    {% endif %}
    <!-- Exam -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/exam/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-edit"></i>
        <div data-i18n="Exam">Exam</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/examname/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'examname' %}" class="menu-link">
            <div data-i18n="Exam_Name">Exam Name</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/syllabus/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'syllabus' %}" class="menu-link">
            <div data-i18n="Syllabus">Exam Syllabus</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/listschedule/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'listschedule' %}" class="menu-link">
            <div data-i18n="Schedule">Exam Schedule</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/exam_schedule/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'exam_schedule' %}" class="menu-link">
            <div data-i18n="Exam Schedule">Schedule Download</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/admit_card/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'admit_card' %}" class="menu-link">
            <div data-i18n="Admit Download">Admit Download</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/seatplan/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'seatplan' %}" class="menu-link">
            <div data-i18n="seatplan">Seat Plan</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/grade/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'grade' %}" class="menu-link">
            <div data-i18n="Grade_Rule">Grade Rule</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/mark_blank_sheet/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'mark_blank_sheet' %}" class="menu-link">
            <div data-i18n="mark_blank_sheet">Mark Blank Sheet</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/oral_mark_sheet/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'oral_mark_sheet' %}" class="menu-link">
            <div data-i18n="oral_mark_sheet">Oral Mark Sheet</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/exam_signature_sheet/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'exam_signature_sheet' %}" class="menu-link">
            <div data-i18n="exam_signature_sheet">Exam Signature Sheet</div>
          </a>
        </li>
        
        <li
          class="menu-item {% if '/exam_fee_sheet/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'exam_fee_sheet' %}" class="menu-link">
            <div data-i18n="exam_fee_sheet">Exam Fee Sheet</div>
          </a>
        </li>
       
      </ul>
    </li>
    {% endif %}

    {% if user|in_group:"student, parent, teacher" %}
        <li
        class="menu-item {% if '/exam_schedule/' in request.path %}active{% endif %}"
      >
        <a href="{% url 'exam_schedule' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-timer"></i>
          <div data-i18n="exam_schedule">Exam Routine</div>
        </a>
      </li> 
    {% endif %}

    <!-- Result -->

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/result/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-math"></i> 
        <div data-i18n="Exam">Result</div>
      </a>
      <ul class="menu-sub">
        
        <li
          class="menu-item {% if '/mark_list/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'mark_list' %}" class="menu-link">
            <div data-i18n="mark_list">Mark Input</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/tabulation_sheet/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'tabulation_sheet' %}" class="menu-link">
            <div data-i18n="tabulation_sheet">Tabulation Sheet</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/progress_report/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'progress_report' %}" class="menu-link">
            <div data-i18n="progress_report">Progress Report</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/merit_list/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'merit_list' %}" class="menu-link">
            <div data-i18n="merit_list">Merit List</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/list_certificate/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_certificate' %}" class="menu-link">
            <div data-i18n="list_certificate">Certificate</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/result_summary/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'result_summary' %}" class="menu-link">
            <div data-i18n="result_summary">Result Summary</div>
          </a>
        </li>
        
      </ul>
    </li>
    {% endif %}

    <!-- Download -->

    {% if user|is_staff_or_in_group:"teacher" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
        class="menu-item {% if '/study_material' in request.path %}active{% endif %}"
      >
        <a href="{% url 'study_material' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-cloud-download"></i>
          <div data-i18n="study_material">Study Material</div>
        </a>
      </li>
    {% endif %}
    <!-- Student -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    
    <li
      class="menu-item {% if '/student/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-book-reader"></i>
        <div data-i18n="Student">Student Info</div>
      </a>
      <ul class="menu-sub">
        
        <li
          class="menu-item {% if '/add_student/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'add_student' %}" class="menu-link">
            <div data-i18n="Add_Student">Add Student</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_student/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_student' %}" class="menu-link">
            <div data-i18n="List_Student">List Student</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_testmonial/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_testmonial' %}" class="menu-link">
            <div data-i18n="list_testmonial">Student Testimonial</div>
          </a>
        </li>
        <li class="menu-item {% if '/waiver/' in request.path %}active{% endif %}">
          <a href="{% url 'waiver' %}" class="menu-link">
            <div data-i18n="Fee_Type">Student Waiver</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/student_id_data/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'student_id_data' %}" class="menu-link">
            <div data-i18n="student_id_data">Student Id Card</div>
          </a>
        </li>

        <li class="menu-item {% if '/rfid_update/' in request.path %}active{% endif %}">
          <a href="{% url 'rfid_update' %}" class="menu-link">
            <div data-i18n="rfid_update">Rfid Update</div> 
          </a>
        </li>

        <li
          class="menu-item {% if '/list_migrations/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_migrations' %}" class="menu-link">
            <div data-i18n="list_migrations">Student Migration</div>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}
    {% if user|has_role:"Accountant" %}
    <li
      class="menu-item {% if '/student/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-book-reader"></i>
        <div data-i18n="Student">Student Info</div>
      </a>
      <ul class="menu-sub">
        
        <li
          class="menu-item {% if '/list_student/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_student' %}" class="menu-link">
            <div data-i18n="List_Student">List Student</div>
          </a>
        </li>
       
        <li class="menu-item {% if '/waiver/' in request.path %}active{% endif %}">
          <a href="{% url 'waiver' %}" class="menu-link">
            <div data-i18n="Fee_Type">Student Waiver</div>
          </a>
        </li>
       
      </ul>
    </li>
    {% endif %}
    
    <!-- Teacher -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/teacher/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle"> 
        <i class="menu-icon tf-icons bx bxs-user-circle"></i>
        <div data-i18n="Teacher">Teacher Info</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/add_teacher/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'add_teacher' %}" class="menu-link">
            <div data-i18n="Add_Teacher">Add Teacher</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_teacher/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_teacher' %}" class="menu-link">
            <div data-i18n="List_Teacher">List Teacher</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/teacher_id_data/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'teacher_id_data' %}" class="menu-link">
            <div data-i18n="teacher_id_data">Teacher Id Card</div>
          </a>
        </li>
      </ul>
    </li>
    
    {% endif %}
    <!-- Staff -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/staff/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user-circle"></i>
        <div data-i18n="Teacher">Staff Info</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/add_staff/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'add_staff' %}" class="menu-link">
            <div data-i18n="Add_Staff">Add Staff</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_staff/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_staff' %}" class="menu-link">
            <div data-i18n="list_staff">List Staff</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/staff_id_data/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'staff_id_data' %}" class="menu-link">
            <div data-i18n="staff_id_data">Staff Id Card</div>
          </a>
        </li>
      </ul>
    </li>

    {% endif %}
    <!-- Parents -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/parent/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div data-i18n="Parents">Parent Info</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/add_parent/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'add_parent' %}" class="menu-link">
            <div data-i18n="Add_Parents">Add Parents</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/list_parent/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'list_parent' %}" class="menu-link">
            <div data-i18n="List_Parents">List Parents</div>
          </a>
        </li>
      </ul>
    </li>

    {% endif %}

    <!-- Attendance -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li class="menu-item {% if '/attendance/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-check-square"></i>
        <div data-i18n="Attendance">Attendance</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/student_attendance/' in request.path %}active{% endif %}">
          <a href="{% url 'student_attendance' %}" class="menu-link">
            <div data-i18n="Student_Attendance">Student Attendance</div>
          </a>
        </li>
        <li class="menu-item {% if '/teacher_attendance/' in request.path %}active{% endif %}">
          <a href="{% url 'teacher_attendance' %}" class="menu-link">
            <div data-i18n="Teacher_Attendance">Teacher Attendance</div>
          </a>
        </li>
        <li class="menu-item {% if '/staff_attendance/' in request.path %}active{% endif %}">
          <a href="{% url 'staff_attendance' %}" class="menu-link">
            <div data-i18n="Staff_Attendance">Staff Attendance</div>
          </a>
        </li>

        <li class="menu-item {% if '/student_hostel_attendance/' in request.path %}active{% endif %}">
          <a href="{% url 'student_hostel_attendance' %}" class="menu-link">
            <div data-i18n="student_hostel_attendance">Hostel Attendance</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/leave_type/' in request.path %}active{% endif %}">
          <a href="{% url 'leave_type' %}" class="menu-link">
            <div data-i18n="Leave Type">Leave Type</div>
          </a>
        </li>
        <li class="menu-item {% if '/leave_request/' in request.path %}active{% endif %}">
          <a href="{% url 'leave_request' %}" class="menu-link">
            <div data-i18n="Leave Request">Leave Request</div>
          </a>
        </li>
        <li class="menu-item {% if '/holiday/' in request.path %}active{% endif %}">
          <a href="{% url 'holiday' %}" class="menu-link">
            <div data-i18n="holiday">Holiday</div>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}

    

    <!-- Fees -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li class="menu-item {% if '/fees/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
        <div data-i18n="Fee">Fees</div>
      </a>
      
      <ul class="menu-sub">
        
        <li class="menu-item {% if '/feetype/' in request.path %}active{% endif %}">
          <a href="{% url 'feetype' %}" class="menu-link">
            <div data-i18n="Fee_Type">Fee Type</div>
          </a>
        </li>
        <li class="menu-item {% if '/addfee/' in request.path %}active{% endif %}">
          <a href="{% url 'addfee' %}" class="menu-link">
            <div data-i18n="Add_Fee">Fee Allocation</div>
          </a>
        </li>
        <li class="menu-item {% if '/listfee/' in request.path %}active{% endif %}">
          <a href="{% url 'listfee' %}" class="menu-link">
            <div data-i18n="Fees_Collection">Fees Collection</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/student_fee/' in request.path %}active{% endif %}">
          <a href="{% url 'student_fee' %}" class="menu-link">
            <div data-i18n="Fee_Type">Student Fee</div> 
          </a>
        </li>

        
        {% if user|is_staff_or_in_group:"" %}
      
        <li class="menu-item {% if '/put_back_fee/' in request.path %}active{% endif %}">
          <a href="{% url 'put_back_fee' %}" class="menu-link">
            <div data-i18n="put_back_fee">Put Back Fee</div>  
          </a>
        </li>
        {% endif %}
        
      </ul>
    </li> 

    {% endif %}
   

    {% if user|in_group:"student, parent" %}
    <li class="menu-item {% if '/showfee/' in request.path %}active{% endif %}">
      <a href="{% url 'showfee' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
        <div data-i18n="Fee_Type">Student Fee</div>
      </a>
    </li>

    {% endif %}

    <!-- Payroll -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li
      class="menu-item {% if '/payroll/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-money"></i>
        <div data-i18n="Payroll">Payroll</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/salary_config/' in request.path %}active{% endif %}">
          <a href="{% url 'salary_config' %}" class="menu-link">
            <div class=" menu-size" data-i18n="Salary Config">Salary Config</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/addition/' in request.path %}active{% endif %}"
        >
          {% comment %} <a href="{% url 'addition' %}" class="menu-link">
            <div data-i18n="Addition">Addition</div>
          </a>
        </li>
        <li
          class="menu-item {% if '/deduction/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'deduction' %}" class="menu-link">
            <div data-i18n="Deduction">Deduction</div>
          </a> {% endcomment %}
        </li> 
        <li
          class="menu-item {% if '/salary_process/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'salary_process' %}" class="menu-link">
            <div data-i18n="Salary Process">Salary Process</div>
          </a>
        </li>
      </ul>
    </li>

    {% endif %}

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" or user|has_role:"HR" %}

    <span></span>
    {% elif user|in_group:"staff, teacher" %}
    <li
    class="menu-item {% if '/salary_process/' in request.path %}active{% endif %}"
    >
    <a href="{% url 'salary_process' %}" class="menu-link">
      <i class="menu-icon tf-icons bx bx-money"></i>
      <div data-i18n="Salary Process">Salary List</div>
    </a>
   </li>

    {% endif %}


     <!-- Hostel -->
     {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
     
     <li class="menu-item {% if '/service/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-shape-square"></i> 
        <div data-i18n="Services">Services</div>
      </a>

      <ul class="menu-sub">

        <li class="menu-item {% if '/hostel/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="hostel">Hostel</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/packagetype/' in request.path %}active {% endif %}">
              <a href="{% url 'packagetype' %}" class="menu-link">
                <div class="text-truncate" data-i18n="packagetype">Hostel Package</div>
              </a>
            </li>
            
            <li class="menu-item {% if '/hostel_package_allocate/' in request.path %}active{% endif %}">
              <a href="{% url 'hostel_package_allocate' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Date Wise">Hostel Allocation</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-item {% if '/tution/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="tution">Tution</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/tution_packagetype/' in request.path %}active {% endif %}">
              <a href="{% url 'tution_packagetype' %}" class="menu-link">
                <div class="text-truncate" data-i18n="tution_packagetype">Tution Package</div>
              </a>
            </li>
            
            <li class="menu-item {% if '/tution_package_allocate/' in request.path %}active{% endif %}">
              <a href="{% url 'tution_package_allocate' %}" class="menu-link">
                <div class="text-truncate" data-i18n="tution_package_allocate">Tution Allocation</div>
              </a>
            </li> 
          </ul>
        </li>

        <li class="menu-item {% if '/transport/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="transport">Transport</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/transport_packagetype/' in request.path %}active {% endif %}">
              <a href="{% url 'transport_packagetype' %}" class="menu-link">
                <div class="text-truncate" data-i18n="transport_packagetype">Transport Package</div>
              </a>
            </li>
            
            <li class="menu-item {% if '/transport_package_allocate/' in request.path %}active{% endif %}">
              <a href="{% url 'transport_package_allocate' %}" class="menu-link">
                <div class="text-truncate" data-i18n="transport_package_allocate">Transport Allocation</div>
              </a>
            </li> 
          </ul>
        </li>

      </ul>
    </li>
     
     {% endif %}

    <!-- Expense -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li
      class="menu-item {% if '/expense/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet-alt"></i>
        <div data-i18n="Parents">Expense</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/expenseitem/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'expenseitem' %}" class="menu-link">
            <div data-i18n="expenseitem">Expense</div>
          </a>
        </li>

       
        <li
          class="menu-item {% if '/search_entry_expense/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'search_entry_expense' %}" class="menu-link">
            <div data-i18n="search_entry_expense">Entry Date search</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/expensetype/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'expensetype' %}" class="menu-link">
            <div data-i18n="expensetype">Expense Head</div>
          </a>
        </li>
        
        
      </ul>
    </li>

    {% endif %}

    <!-- Income -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li
      class="menu-item {% if '/income/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-wallet-alt"></i>
        <div data-i18n="Parents">Income</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item {% if '/incomeitem/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'incomeitem' %}" class="menu-link">
            <div data-i18n="incomeitem">Income</div>
          </a>
        </li>

        
        <li
          class="menu-item {% if '/search_entry_income/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'search_entry_income' %}" class="menu-link">
            <div data-i18n="search_entry_income">Entry Date search</div>
          </a>
        </li> 

        <li
          class="menu-item {% if '/incomehead/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'incomehead' %}" class="menu-link">
            <div data-i18n="incomehead">Income Head</div>
          </a>
        </li>
        
        
      </ul>
    </li>

    {% endif %}

    <!-- Withdraw -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li
      class="menu-item {% if '/withdraw/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-briefcase-alt"></i>
        <div data-i18n="withdraw">Withdraw</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/withdraw_item/' in request.path %}active{% endif %}">
          <a href="{% url 'withdraw' %}" class="menu-link">
            <div data-i18n="withdraw">Withdraw</div>
          </a>
        </li>

       
      </ul>
    </li>

    {% endif %}

    <!-- Comunication -->
    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" or user|has_role:"HR" %}
    <li
      class="menu-item {% if '/comunication/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-transfer-alt"></i>
        <div data-i18n="Comunication">Comunication</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/sms/' in request.path %}active{% endif %}">
          <a href="{% url 'sms' %}" class="menu-link">
            <div data-i18n="SMS">General SMS</div>
          </a>
        </li>
        <li class="menu-item {% if '/notification_sms/' in request.path %}active{% endif %}">
          <a href="{% url 'notification_sms' %}" class="menu-link">
            <div data-i18n="SMS">Notification SMS</div>
          </a>
        </li>
        
        {% comment %} <li
          class="menu-item {% if '/notification/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'notification' %}" class="menu-link">
            <div data-i18n="Fees_Collection">Notification</div>
          </a>
        </li> {% endcomment %}
        
      </ul>
    </li>

    
    {% endif %}

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant"  or user|has_role:"HR" %}
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Reports</span>
    </li>
    {% endif %}
    <!-- Attendance -->

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li class="menu-item {% if '/accounting/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-bank"></i>
        <div data-i18n="fees_report">Accounting Report</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item {% if '/account_statement/' in request.path %}active {% endif %}">
          <a href="{% url 'account_statement' %}" class="menu-link">
            <div data-i18n="account_statement">Account Statement</div>
          </a>
        </li>
        <li class="menu-item {% if '/search_date_range_income/' in request.path %}active {% endif %}">
          <a href="{% url 'search_date_range_income' %}" class="menu-link">
            <div data-i18n="search_date_range_income">Date wise Income</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/search_date_range_expense/' in request.path %}active{% endif %}">
          <a href="{% url 'search_date_range_expense' %}" class="menu-link">
            <div data-i18n="search_date_range_expense">Date wise Expense</div>
          </a>
        </li>

        <li class="menu-item {% if '/search_date_range_withdraw/' in request.path %}active{% endif %}">
          <a href="{% url 'search_date_range_withdraw' %}" class="menu-link">
            <div data-i18n="search_date_range_withdraw">Date wise Withdraw</div>
          </a>
        </li>

        
      </ul>
    </li>

    {% endif %}

    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" %}
    <li class="menu-item {% if '/fees_report/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bxs-dollar-circle"></i> 
        <div data-i18n="fees_report">Fees Report</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item {% if '/student_date_fee_report/' in request.path %}active {% endif %}">
          <a href="{% url 'student_date_fee_report' %}" class="menu-link">
            <div data-i18n="student_date_fee_report">Date wise Piad Fee</div>
          </a>
        </li>
        
        
        <li class="menu-item {% if '/student_time_fee_report/' in request.path %}active{% endif %}">
          <a href="{% url 'student_time_fee_report' %}" class="menu-link">
            <div data-i18n="student_time_fee_report">Student Wise Paid Fee</div>
          </a>
        </li>

        <li class="menu-item {% if '/duefee/' in request.path %}active{% endif %}">
          <a href="{% url 'duefee' %}" class="menu-link">
            <div data-i18n="duefee">Due Fee</div> 
          </a>
        </li>
        
      </ul>
    </li>

    {% endif %}
  


    {% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"HR" %}
    <li class="menu-item {% if '/attendance_report/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-check-square"></i>
        <div data-i18n="Attendance">Attendance Report</div>
      </a>

      <ul class="menu-sub">

        <li class="menu-item {% if '/stu_report/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="Login">Student Report</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/report_student_attendance/' in request.path %}active {% endif %}">
              <a href="{% url 'report_student_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="report_student_attendance">Month View Report</div>
              </a>
            </li>
            <li class="menu-item {% if '/report_date_range_student_attendance/' in request.path %}active{% endif %}">
              <a href="{% url 'report_date_student_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Date Wise">Date Wise Report</div>
              </a>
            </li>
            <li class="menu-item {% if '/report_time_student_attendance/' in request.path %}active{% endif %}">
              <a href="{% url 'report_time_student_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Date Wise">Time Wise Report</div>
              </a>
            </li>
          </ul>
        </li>


        
        <li class="menu-item {% if '/tea_report/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="Login">Teacher Report</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/report_teacher_attendance/' in request.path %}active {% endif %}">
              <a href="{% url 'report_teacher_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="report_teacher_attendance">Month View Report</div>
              </a>
            </li>
            <li class="menu-item {% if '/report_time_teacher_attendance/' in request.path %}active{% endif %}">
              <a href="{% url 'report_time_teacher_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Date Wise">Time Wise Report</div>
              </a>
            </li>
          </ul>
        </li>


        <li class="menu-item {% if '/staff_report/' in request.path %}active open{% endif %}">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div class="text-truncate" data-i18n="Login">Staff Report</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item {% if '/report_staff_attendance/' in request.path %}active {% endif %}">
              <a href="{% url 'report_staff_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="report_staff_attendance">Month View Report</div>
              </a>
            </li>
            <li class="menu-item {% if '/report_time_staff_attendance/' in request.path %}active{% endif %}">
              <a href="{% url 'report_time_staff_attendance' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Date Wise">Time Wise Report</div>
              </a>
            </li>
          </ul>
        </li>
        
        
      </ul>
    </li>

    

    {% elif user|in_group:"staff" %}
    <li class="menu-item {% if '/report_staff_attendance/' in request.path %}active{% endif %}">
      
      <a href="{% url 'report_staff_attendance' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-check-square"></i>
        <div data-i18n="Staff_Attendance">Attendance Report</div>
      </a>
    </li>
    
    {% elif user|in_group:"student, parent" %}
    <li class="menu-item {% if '/report_student_attendance/' in request.path %}active {% endif %}">
      
      <a href="{% url 'report_student_attendance' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-check-square"></i>
        <div data-i18n="report_student_attendance">Attendance Report</div> 
      </a>
    </li>
{% elif user|in_group:"teacher" %}
    <li class="menu-item {% if '/report_teacher_attendance/' in request.path %}active{% endif %}">
      <a href="{% url 'report_teacher_attendance' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-check-square"></i>
        <div data-i18n="Teacher_Attendance">Attendance Report</div>
      </a>
    </li>
{% endif %}





{% if user|is_staff_or_in_group:"" or user|has_role:"Manager"  or user|has_role:"Accountant" or user|has_role:"HR" %}
    <li class="menu-item {% if '/sms_report/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-envelope"></i> 
        <div data-i18n="Sms_report">SMS Report</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item {% if '/purchase_history/' in request.path %}active{% endif %}">
          <a href="{% url 'purchase_history' %}" class="menu-link">
            <div data-i18n="purchase_history">Purchase History</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/send_summary/' in request.path %}active{% endif %}">
          <a href="{% url 'send_summary' %}" class="menu-link">
            <div data-i18n="send_summary">Send Summary</div>
          </a>
        </li>
        
        <li class="menu-item {% if '/sms_delivery/' in request.path %}active{% endif %}">
          <a href="{% url 'sms_delivery' %}" class="menu-link">
            <div data-i18n="sms_delivery">Sms Delivery</div>
          </a>
        </li>
        
      </ul>
    </li>

    {% endif %}


    {% if user|is_staff_or_in_group:"" %}
    <li class="menu-header small text-uppercase"> 
      <span class="menu-header-text">Site Settings</span>
    </li>
    
    
    <li class="menu-item {% if '/site_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-minus-front"></i>
        <div data-i18n="Site Settings">Site Settings</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item {% if '/banner/' in request.path %}active {% endif %}">
          <a href="{% url 'banner' %}" class="menu-link">
            <div data-i18n="banner">Banner</div>
          </a>
        </li>

        <li
          class="menu-item {% if '/notice/' in request.path %}active{% endif %}"
        >
          <a href="{% url 'notice' %}" class="menu-link">
            <div data-i18n="Fee_Type">Notice</div>
          </a>
        </li>

        <li class="menu-item {% if '/service/' in request.path %}active {% endif %}">
          <a href="{% url 'service' %}" class="menu-link">
            <div data-i18n="service">Service</div>
          </a>
        </li>

        <li class="menu-item {% if '/page_content/' in request.path %}active {% endif %}">
          <a href="{% url 'page_content' %}" class="menu-link">
            <div data-i18n="service">Page Content</div>
          </a>
        </li>

        <li class="menu-item {% if '/gallery/' in request.path %}active {% endif %}">
          <a href="{% url 'gallery' %}" class="menu-link">
            <div data-i18n="gallery">Picture Gallery</div>
          </a>
        </li>

        <li class="menu-item {% if '/vgallery/' in request.path %}active {% endif %}">
          <a href="{% url 'vgallery' %}" class="menu-link">
            <div data-i18n="vgallery">Video Gallery</div>
          </a>
        </li>

        <li class="menu-item {% if '/testimonial/' in request.path %}active {% endif %}">
          <a href="{% url 'testimonial' %}" class="menu-link">
            <div data-i18n="testimonial">Testimonial</div>
          </a>
        </li>

        <li class="menu-item {% if '/contact/' in request.path %}active {% endif %}">
          <a href="{% url 'contact' %}" class="menu-link">
            <div data-i18n="contact">Contact</div>
          </a>
        </li>
        
        
        
      </ul>
    </li>



    {% endif %}

    <a href="{% url 'dashboard' %}" class="app-brand-link pt-2 mx-auto">
      <img height="100px" src="{% static 'assets/img/essential/logic.png' %}" alt="">
    </a>




  </ul>
</aside>

{% endblock sidebar %} 
{% endwith %}
